<%-include('../header.ejs')%>
<h3><%=__('Institute Details')%></h3>
<p><%=__('Institute Name')%>: <%= data.institutedetail.name %></p>
<p><%=__('Institute Admin Name')%>: <%= data.userdetail.fullname %></p>
<p><%=__('Email Id')%>: <%= data.user.email %></p>
<p><%=__('Phone')%>: <%= data.institute.phone %></p>
<p><%=__('Mobile No')%>: <%= data.user.mobile %></p>
<p><%=__('Address')%>: <%= data.institutedetail.address %></p>
<%-include('../footer.ejs')%>