<%-include('../header.ejs')%>
<h3><%=__('Contact Us Mail')%></h3>
<p><%=__('School/Organization Name')%>: <%= data.organization_name %></p>
<p><%=__('Contact Person Name')%>: <%= data.name %></p>
<p><%=__('Email Id')%>: <%= data.email %></p>
<p><%=__('Mobile No')%>: <%= data.mobile %></p>
<p><%=__('Try Demo')%>: <%= data.try_demo %></p>
<p><%=__('Query')%>: <%= data.query %></p>
<%-include('../footer.ejs')%>