<%-include('../header.ejs')%>
<h3><%=__('Partners')%></h3>
<p><%= __('Partner name')%>: <%=data.partner_name%></p>
<p><%= __('Company name')%>: <%=data.company_name%></p>
<p><%= __('Website URL')%>: <%=data.website_url%></p>
<p><%= __('Address')%>: <%=data.address%></p>
<p><%= __('Name of contact person')%>: <%=data.name%></p>
<p><%= __('Designation')%>:  <%=data.designation%></p>
<p><%= __('Mobile number')%>: <%=data.mobile%></p>
<p><%= __('Email ID')%>: <%=data.email%></p>
<p><%= __('About your existing business')%>: <%=data.about_business%></p>
<p><%= __('Message')%>: <%=data.message%></p>
<%-include('../footer.ejs')%>