				<tr>
					<td align="center" style="padding-top:15px; padding-bottom:15px;">
						<table class="width-full" cellpadding="0" cellspacing="0" width="600" border="0" style=" border-collapse: collapse;">
							<tr>
								<td style="font-size:8px;letter-spacing:-2px;color:#e8e8e8;text-align:left;line-height:160%; font-family:arial, sans-serif;" >
								———————————
								</td>
								<td width="175" style="color:#7d7d7d;font-weight:300;font-size:12px;padding:0 18px;text-align:center;padding-right:12px!important;padding-left:12px!important;line-height:160%; font-family:arial, sans-serif;">
									Get Connected
								</td>
								<td style="font-size:8px;letter-spacing:-2px;color:#e8e8e8;text-align:left;line-height:160%; font-family:arial, sans-serif;">
									———————————
								</td>
							</tr>
							<tr>
								<td colspan="3" style="padding-top:15px;">
									<table cellpadding="0" cellspacing="0" width="100%" border="0" style=" border-collapse: collapse;">
										<tr>
											<td style="padding-right:10px;" class="d-block">
												<table cellpadding="0" cellspacing="0" width="100%" border="0" style=" border-collapse: collapse;">
													<tr>
														<td>
															<a href="https://www.facebook.com/Pateastco/" target="_blank"><img src="https://www.pateast.co/images/facebook.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="24" height="24" /></a>
														</td>
														<td>
															<a href="https://www.facebook.com/Pateastco/" target="_blank" style="font-size:11px;text-decoration:none;color:#606060;line-height:100%;text-align:center;background:transparent; font-family:arial, sans-serif;"><%=__('Facebook')%></a>
														</td>
													</tr>
												</table>
											</td>
											<td style="padding-right:10px;" class="d-block">
												<table cellpadding="0" cellspacing="0" width="100%" border="0" style=" border-collapse: collapse;">
													<tr>
														<td>
															<a href="https://twitter.com/pateastco" target="_blank"><img src="https://www.pateast.co/images/twitter.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="24" height="24" /></a>
														</td>
														<td>
															<a href="https://twitter.com/pateastco" target="_blank" style="font-size:11px;text-decoration:none;color:#606060;line-height:100%;text-align:center;background:transparent; font-family:arial, sans-serif;"><%=__('Twitter')%></a>
														</td>
													</tr>
												</table>
											</td>
											<td style="padding-right:10px;" class="d-block">
												<table cellpadding="0" cellspacing="0" width="100%" border="0" style=" border-collapse: collapse;">
													<tr>
														<td>
															<a href="https://www.linkedin.com/company/pateast-co"><img src="https://www.pateast.co/images/linkedin.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="24" height="24" /></a>
														</td>
														<td>
															<a href="https://www.linkedin.com/company/pateast-co" style="font-size:11px;text-decoration:none;color:#606060;line-height:100%;text-align:center;background:transparent; font-family:arial, sans-serif;"><%=__('Linkedin')%></a>
														</td>
													</tr>
												</table>
											</td>
											<td style="padding-right:0px;" class="d-block">
												<table cellpadding="0" cellspacing="0" width="100%" border="0" style=" border-collapse: collapse;">
													<tr>
														<td>
															<a href="https://trustspot.io/store/Planet-Web-Solutions-Pvt-Ltd/" target="_blank"><img src="https://www.pateast.co/images/trustspot.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="24" height="24" /></a>
														</td>
														<td>
															<a href="https://trustspot.io/store/Planet-Web-Solutions-Pvt-Ltd/" target="_blank" style="font-size:11px;text-decoration:none;color:#606060;line-height:100%;text-align:center;background:transparent; font-family:arial, sans-serif;"><%=__('Trustspot')%></a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" style="background:#f5f6f6; padding-top:15px; padding-bottom:15px;">
						<table class="width-full" cellpadding="0" cellspacing="0" width="600" border="0" style=" border-collapse: collapse;">
							<tr>
								<td style="color:#606060;display:block;font-size:12px;line-height:160%;margin:0; font-family:arial, sans-serif;" class="d-block-f">
									<%-__('Copyright &copy; 2018')%> <a href="https://www.pateast.co/" target="_blank" style="color:#606060;font-size:12px;text-decoration:underline; font-family:arial, sans-serif;"><%=__('Pateastco')%></a>, All rights reserved.
								</td>
								<td style="text-align:right; font-family:arial, sans-serif;" class="d-block-f">
									<a href="https://www.pateast.co/privacy-policy" style="color:#606060;font-size:12px;text-decoration:underline; font-family:arial, sans-serif;"><%=__('Privacy Policy')%></a> | <a href="https://www.pateast.co/contact-us" style="color:#606060;font-size:12px;text-decoration:underline;"><%=__('Contact Us')%></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>