<%
let leavestatusoptions = [
	'Pending',
	'Approved',
	'Cancelled',
	'Rejected',
];
%>
<%-include('header')%>
<tr>
	<td style="font-size:14px;color:#ffffff; line-height:24px; font-family:arial, sans-serif; padding-bottom: 15px;">
		<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style=" border-collapse: collapse;" align="center">
			<tr>
				<% if (assignments) {-%>
					<td style="background: #1b71c2; padding: 30px 10px; text-align: center; width: 150px;">
						<a href="https://www.pateast.co/assignment/setup" target="_blank" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #fff;display: block; padding-bottom: 10px;">
							<%=assignments.count%>
						</a>
						<%=__('Assignments')%>
					</td>
				<% } -%>
				<% if (studentleaves) { -%>
					<td style="background: #eb9d19; padding: 30px 10px; text-align: center;  width: 150px;">
						<a href="https://www.pateast.co/student-attendance/student-leave" target="_blank" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #fff; display: block; padding-bottom: 10px;">
							<%=studentleaves.count%>
					</a>
						<%=__('Student Leaves')%>
					</td>
				<% } -%>
				<% if (todos) { -%>
					<td style="background: #9340ab; padding: 30px 10px; text-align: center;  width: 150px;">
						<a href="https://www.pateast.co/dashboard/teacher" target="_blank" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #fff; display: block; padding-bottom: 10px;">
							<%=todos.count%>
						</a>
						<%=__('To Do')%>
					</td>	
				<% } -%>
				<% if (timetableallocations) { -%>
					<td style="background: #ea414d; padding: 30px 10px; text-align: center;  width: 150px;">
						<a href="https://www.pateast.co/classes" target="_blank" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #fff; display: block; padding-bottom: 10px;">
							<%=timetableallocations.count%>
						</a>
						<%=__('Scheduled Classes')%>
					</td>	
				<% } -%>
			</tr>
		</table>
	</td>
</tr>
<% if (assignments) { -%>
	<tr>
		<td style="text-decoration: none; font-size: 18px; color: #00a087; font-family:arial, sans-serif; padding: 35px 7px 10px; "> 
			<%=__('Assignments')%>
		</td>
	</tr>
	<tr>
		<td>
			<% for (var i = 0; i < assignments.rows.length; i++) { -%>
				<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:10px 7px 10px; border-bottom: 1px solid #dedede;" align="center">
						<tr>
							<td style="width: 100px; font-size: 14px; line-height: 24px; color: #ea414d; font-family:arial, sans-serif;">
									<%=assignments.rows[i].assignmentdetails[0].title%>
							</td>
							<td style="text-align: center; width: 100px; font-size: 14px; line-height: 24px; color: #ea414d; font-family:arial, sans-serif;">
								<%=__(assignments.rows[i].assignment_status)%>
							</td>
						</tr>
						<tr>
							<td style="text-decoration: none; font-size: 14px; line-height: 24px; color: #606060; font-family:arial, sans-serif;" colspan="2">
								<%=__('Due on')%> <%=moment(assignments.rows[i].end_date).format(institute.date_format)%>
							</td>
						</tr>
				</table>
			<% } -%>
			<% if (assignments.count !== 0) { -%>
				<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:10px 7px; border-bottom: 1px solid #dedede; background:#ea414d;" align="center">
					<tr>
						<td style="text-align: center; ">
							 <a href="https://www.pateast.co/assignment/setup" target="_blank" style="text-decoration: none; font-size: 16px; line-height: 24px; color: #fff; font-family:arial, sans-serif; ">
							 	<%=__('Click here to view all Assigments')%>
							 </a>
						</td>
					</tr>
				</table>
			<% } -%>
		</td>
	</tr>
<% } -%>
<% if (assignments && assignments.count === 0) { -%>
	<tr>
		<td>
			<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:15px 7px 30px; border-bottom: 1px solid #dedede;" align="center">
				<tr>
					<td style="text-align: center; font-size: 16px; line-height: 24px; font-family:arial, sans-serif; color: #606060;">
						<%=__('No assignments for you.')%>
					</td>
				</tr> 
		 </table> 
		</td>
	</tr>
<% } -%>
<% if (studentleaves) { -%>
	<tr>
		<td style="text-decoration: none; font-size: 18px; color: #00a087; font-family:arial, sans-serif; padding: 35px 7px 10px; "> 
			<%=__('Student Leaves')%>
		</td>
	</tr>
	<tr>
		<td>
			<% for (var i = 0; i < studentleaves.rows.length; i++) { -%>
				<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:10px 7px 10px; border-bottom: 1px solid #dedede;" align="center">
					<tr>
						<td style="width: 100px; font-size: 14px; line-height: 24px; color: #ea414d; font-family:arial, sans-serif;">
								<%=studentleaves.rows[i].user.userdetails[0].fullname%>
						</td>
						<td style="text-align: center; width: 100px; font-size: 14px; line-height: 24px; color: #ea414d; font-family:arial, sans-serif;">
							<%=__(leavestatusoptions[studentleaves.rows[i].leavestatus])%>
						</td>
					</tr>
					<tr>
						<td style="text-decoration: none; font-size: 14px; line-height: 24px; color: #606060; font-family:arial, sans-serif;" colspan="2">
							<%=moment(studentleaves.rows[i].start_date).format(institute.date_format)%>
							<%=__('To')%>
							<%=moment(studentleaves.rows[i].end_date).format(institute.date_format)%>
						</td>
					</tr>
				</table>
			<% } -%>
			<% if (studentleaves.count !== 0) { -%>
				<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:10px 7px; border-bottom: 1px solid #dedede; background:#ea414d;" align="center">
					<tr>
						<td style="text-align: center; ">
							 <a href="https://www.pateast.co/student-attendance/student-leave" target="_blank" style="text-decoration: none; font-size: 16px; line-height: 24px; color: #fff; font-family:arial, sans-serif; ">
							 	<%=__('Click here to view all Student Leaves')%>
							 </a>
						</td>
					</tr>
				</table>
			<% } -%>
		</td>
	</tr>
<% } -%>
<% if (studentleaves && studentleaves.count === 0) { -%>
	<tr>
		<td>
			<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:15px 7px 30px; border-bottom: 1px solid #dedede;" align="center">
				<tr>
					<td style="text-align: center; font-size: 16px; line-height: 24px; font-family:arial, sans-serif; color: #606060;">
						<%=__('No Student Leaves for you.')%>
					</td>
				</tr> 
		 </table> 
		</td>
	</tr>
<% } -%>
<% if (todos) { -%>
	<tr>
		<td style="text-decoration: none; font-size: 18px; color: #00a087; font-family:arial, sans-serif; padding: 35px 7px 10px; "> 
			<%=__('To Do')%>
		</td>
	</tr>
	<tr>
		<td>
			<% for (var i = 0; i < todos.rows.length; i++) { -%>
				<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:10px 7px 10px; border-bottom: 1px solid #dedede;" align="center">
					<tr>
						<td colspan="2" style="width: 100px; font-size: 14px; line-height: 24px; color: #ea414d; font-family:arial, sans-serif;">
								<%=todos.rows[i].subject%>
						</td>
					</tr>
					<tr>
						<td style="text-decoration: none; font-size: 14px; line-height: 24px; color: #606060; font-family:arial, sans-serif;" colspan="2">
							<%=__('Date')%> <%=moment(todos.rows[i].date).format(institute.date_format)%>
						</td>
					</tr>
				</table>
			<% } -%>
			<% if (todos.count !== 0) { -%>
				<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:10px 7px; border-bottom: 1px solid #dedede; background:#ea414d;" align="center">
					<tr>
						<td style="text-align: center; ">
							<a href="https://www.pateast.co/dashboard/teacher" target="_blank" style="text-decoration: none; font-size: 16px; line-height: 24px; color: #fff; font-family:arial, sans-serif; ">
							 	<%=__('Click here to view all To Do')%>
							</a>
						</td>
					</tr>
				</table>
			<% } -%>
		</td>
	</tr>
<% } -%>
<% if (todos && todos.count === 0) { -%>
	<tr>
		<td>
			<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:15px 7px 30px; border-bottom: 1px solid #dedede;" align="center">
				<tr>
					<td style="text-align: center; font-size: 16px; line-height: 24px; font-family:arial, sans-serif; color: #606060;">
						<%=__('No todo for you.')%>
					</td>
				</tr> 
		 </table> 
		</td>
	</tr>
<% } -%>
<% if (timetableallocations) { -%>
	<tr>
		<td style="text-decoration: none; font-size: 18px; color: #00a087; font-family:arial, sans-serif; padding: 35px 7px 10px; "> 
			<%=__('Scheduled Classes')%>
		</td>
	</tr>
	<tr>
		<td>
			<% for (var i = 0; i < timetableallocations.rows.length; i++) { -%>
				<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:10px 7px 10px; border-bottom: 1px solid #dedede;" align="center">
					<tr>
						<td style="width: 100px; font-size: 14px; line-height: 24px; color: #ea414d; font-family:arial, sans-serif;">
							<%=timetableallocations.rows[i].timetable.bcsmap.board.boarddetails[0].alias%>-
							<%=timetableallocations.rows[i].timetable.bcsmap.class.classesdetails[0].name%>-
							<%=timetableallocations.rows[i].timetable.bcsmap.section.sectiondetails[0].name%>
						</td>
						<td style="text-align: center; width: 100px; font-size: 14px; line-height: 24px; color: #ea414d; font-family:arial, sans-serif;">
							<%=__('Timing')%>: <%=moment(timetableallocations.rows[i].start_time,['HH:mm:ss']).format('h:mm A')%>-<%=moment(timetableallocations.rows[i].end_time, ['HH:mm:ss']).format('h:mm A')%>
						</td>
					</tr>
					<tr>
						<td style="text-decoration: none; font-size: 14px; line-height: 24px; color: #606060; font-family:arial, sans-serif;" colspan="2">
							<%=timetableallocations.rows[i].weekday%>
						</td>
					</tr>
				</table>
			<% } -%>
			<% if (timetableallocations.count !== 0) { -%>
				<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:10px 7px; border-bottom: 1px solid #dedede; background:#ea414d;" align="center">
					<tr>
						<td style="text-align: center; ">
							<a href="https://www.pateast.co/classes" target="_blank" style="text-decoration: none; font-size: 16px; line-height: 24px; color: #fff; font-family:arial, sans-serif; ">
							 	<%=__('Click here to view all Scheduled Classes')%>
							</a>
						</td>
					</tr>
				</table>
			<% } -%>
		</td>
	</tr>
<% } -%>
<% if (timetableallocations && timetableallocations.count === 0) { -%>
	<tr>
		<td>
			<table class="width-full" cellpadding="0" cellspacing="0" width="100%" border="0" style="padding:15px 7px 30px; border-bottom: 1px solid #dedede;" align="center">
				<tr>
					<td style="text-align: center; font-size: 16px; line-height: 24px; font-family:arial, sans-serif; color: #606060;">
						<%=__('No Classes for you.')%>
					</td>
				</tr> 
		 </table> 
		</td>
	</tr>
<% } -%>
<%-include('footer')%>