<%-include('../header.ejs')%>
<% var halfday = {1:'First Half', 2:'Second Half' } %>
<p><%=__('Hi')%>,</p>
<p><%=__('{{fullname}} has applied for leave', {fullname: data.fullname})%>. <%=__('The leave details')%>:</p>
<p><%=__('Start Date')%><span style="margin: 0 60px"><%=__('End Date')%></span><%=__('Duration')%></p>
<p>======================================================</p>
<p><%=moment(data.start_date).format('YYYY-MM-DD')%><span style="margin: 0 50px"><%=moment(data.end_date).format('YYYY-MM-DD')%></span>
<% if(data.halfday) { %>
<%=__('Halfday')%>(<%=__(halfday[data.halfday])%>)
<% } else{ %>
<%=data.duration%>
<% } %>
</p>
<p><%=__('Leave type')%>: <%=data.leavetype%></p>
<p><%=__('Comments')%>: <%=data.comment%></p>
<%-include('../footer.ejs')%>
