<%-include('../header.ejs')%>
<h3><%=__('Welcome')%> <%= data.fullname %></h3>
<%=__('Username') %> <%=data.username%>
<h4>
	<a href="http://bit.ly/2DxZCVc">
		<%=__('Download App')%>
	</a>
	<%=' '+__('and reset your password')%>
</h4>
<%-include('../footer.ejs')%>