<%-include('../header.ejs')%>
<h3><%=__('Welcome')%>  <%= data.fullname %></h3>
<h4><%=__('Your Wikicare account has been created successfully and is ready to use')%></h4>
<p><%=__('Email')%> - <%= data.email %></p>
<p><%=__('Password')%> - <%= data.password %></p>
<%-include('../footer.ejs')%>